:root {
  --button-color: #3498db;
  --project-color: tomato;
  --header-color: tomato;
  --project-background: cornsilk;
  --sidebar-background: bisque;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
}

.headers h1.title {
  text-align: center;
  padding: 10px 0;
  color: #fff;
}

.headers {
  background: var(--header-color);
}

.nav-container {
  background: var(--sidebar-background);
}

ul.menu {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

ul.menu > li {
  list-style-type: none;

  padding: 10px 0;
}

.jokes {
  background: var(--sidebar-background);
}

.joke-1,
.joke-2,
.joke-3 {
  font-size: 1.25rem;
  border: 2px solid rebeccapurple;
  padding: 10px;
  margin: 10px 20px 30px 10px;
  box-shadow: 5px 10px #9a9a9a;
}

.footer {
  padding: 10px;
  background: #898989;
  color: #fff;
}

.footer p {
  text-align: center;
}

.ui.basic.button.green,
.ui.basic.button.red {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.one {
  width: 100%;
}

@supports (display: grid) {
  .wrapper {
    display: grid;
    grid-template-columns: fit-content(200px) 4fr 1fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
      "header header header"
      "nav 	 content jokes"
      "footer footer footer";
  }

  .headers {
    grid-area: header;
  }

  .footer {
    grid-area: footer;
  }

  .nav-container {
    grid-area: nav;
  }

  .ui.cards.contents {
    grid-area: content;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
  }

  /* override css of semantic ui*/
  .ui.cards.contents > .card {
    width: 90%;
    align-self: stretch;
    justify-self: center;
  }

  .jokes {
    grid-area: jokes;

    display: grid;
    grid-template-rows: [row1-start] 1fr [row2-start] 1fr [row3-start] 1fr [row4-start] 1fr [row5-start] 1fr [row5-end];
  }

  .joke-1 {
    grid-row: [row1-start] / span 2;
  }

  .joke-2 {
    grid-row: [row3-start] / span 3;
  }

  .joke-3 {
    grid-row: [row3-start] / span 2;
  }

  @media (max-width: 850px) {
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: max-content auto 1fr auto auto;
      grid-template-areas:
        "header header"
        "nav nav"
        "content content"
        "jokes jokes"
        "footer footer";
    }

    .nav-container {
      line-height: 0.5;
    }

    ul.menu {
      flex-direction: row;
      justify-content: flex-start;
    }

    ul.menu > li {
      flex-basis: 20%;
    }

    .jokes {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    .joke-1,
    .joke-2,
    .joke-3 {
      font-size: 1.1rem;
      grid-row: 1;
    }

    .joke-1 {
      grid-column: 1 / 2;
    }

    .joke-2,
    .joke-3 {
      grid-column: 2 / -1;
    }
  }

  @media (max-width: 500px) {
    .wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: max-content auto 1fr auto auto;
      grid-template-areas:
        "header"
        "nav"
        "content"
        "jokes"
        "footer";
    }

    .nav-container {
      line-height: 0.5;
    }

    .ui.cards.contents > .card {
      width: 90%;
    }

    ul.menu {
      flex-direction: row;
      justify-content: flex-start;
    }

    ul.menu > li {
      flex-basis: 20%;
    }

    .jokes {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }

    .joke-1,
    .joke-2,
    .joke-3 {
      font-size: 1rem;
      grid-column: 1;
    }

    .joke-1 {
      grid-row: 1;
    }

    .joke-2,
    .joke-3 {
      grid-row: 2;
    }
  }
}
